<p class="cookie-name">Name: {{item.name}}</p>
<p class="cookie-count">Count: {{item.count}}</p>
<p class="cookie-prize">Prize: {{item.prize}}</p>
<p class="cookie-per-dozen">Dozen: {{item.dozen}}</p>
{{yield}}
